@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap"rel="stylesheet");

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/*menu bar*/
.menu_bar {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.menu_bar ul {
    list-style: none;
    width: 50%;
    margin: auto;
    display: flex;
}

.menu_bar li a {
    line-height: 80px;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15;
    font-family: 'Oswald', sans-serif;
}

.menu_bar li a:hover {
    color:
        border-radius: 70px;
    text-align: center;
    color: #c06c84;
    font-size: 20px;
    font-style: italic;
}

/*left_side_bar*/

.main_body {
    width: 100%;
    height: 800px;
    background-color: ;
    overflow: hidden;
    background-color: silver;
}

.left_sidebar {
    width: 50%;
    height: 700px;
    float: left;
}

#table_01 {
    margin-top: 10px;
}

.img_01 {
    border-radius: 10px;
}

#image_left {
    width: 100%;
    height: 250px;
    margin-top: 5px;
}

#right_image {
    width: calc: (50% - 20px);
    height: 300px;
    float: right;
    margin-top: 39px;
    border-radius: 10px;
    margin: 20px;

}

.right_img_content {
    float: left;
    width: 50%;
    margin-top: 39px;
    padding-left: 20px;
}

.right_sidebar {
    width: 50%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.1);
    float: right;
}

.right_sub_side_01 {
    width: 100%;
    height: 300px;
}

.photo01 {
    width: 40%;
    margin: 3px;
    border-radius: 10px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.photoContent {
    float: right;
    width: 50%;

    margin-right: 20px;
    margin-top: 20px;
}

.suggest {
    width: 100%;
    height: 490px;
    margin: 5px;

}

#inputfield,
input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    width: 90%;
}

.submitbatton {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    width: 93%;
}


.footer {
    width: 100%;
    height: 100px;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 20px 0;
    margin-bottom: 50px;

}